To Do:
-Cycle through directory to process all zip files
-Process all files in zip file

-Load table of what items are associated with what items, trim table to only items created after 2015
-Determine where data stands
-Calculate cost per packet, divide cost per packet by number of items
-Scope out messy/unmatched data

In [135]:
import pandas as pd
import numpy
import xlrd
from zipfile import ZipFile

In [136]:
import numpy
import xlrd
from zipfile import ZipFile

def open_zip(datafile):
    with ZipFile('{0}'.format(datafile), 'r') as myzip:
        myzip.extractall()

In [144]:
def process_timesheet(unzipped_datafile, timesheet):
    workbook = xlrd.open_workbook(unzipped_datafile)
    sheet = workbook.sheet_by_index(0)

    #Process first tab of timesheet
    #On the first tab, save cell B3 as the contractor name
    name = sheet.cell_value(2, 1)
    #On the first tab, save cell D18 as the contractor rate
    payrate = sheet.cell_value(17,3)
    if payrate == "Hourly \nRate":
        payrate = sheet.cell_value(18,3)  #likely a more elegant solution, but brute forcing for now
    date = str(int(sheet.cell_value(2,4))) + "-" + str(int(sheet.cell_value(2,5))) + "-" + str(int(sheet.cell_value(2,6)))

    #Process second tab of Excel spreadsheet
    sheet = workbook.sheet_by_index(1)
    #On the second tab, starting with cell A6:E6, save each row until you encounter an empty row
    row = 5
    hours = sheet.cell_value(row,0)
    activity = sheet.cell_value(row, 1)
    description = sheet.cell_value(row, 4)
    while hours != '' and activity != "Total":
        cost = payrate * hours
        timesheet = timesheet.append({'Name':name, 'Payrate':payrate, 'Invoice Date':date, 'Hours':hours, 'Cost': cost, 'Activity':activity, 'Description':description}, ignore_index=True)
        row += 1
        hours = sheet.cell_value(row,0)
        activity = sheet.cell_value(row, 1)
        description = sheet.cell_value(row, 4)
    return timesheet

In [145]:
import glob

timesheet = pd.DataFrame([],columns=['Name', 'Invoice Date','Payrate','Hours', 'Cost', 'Activity','Description'])

for file in glob.glob("*.zip"):    # only loops over zip files
        open_zip(file)
        
#apply process_timesheet to all unzipped Excel files
for file in glob.glob("*.xlsx"):
        timesheet = process_timesheet(file, timesheet)

In [146]:
print timesheet

               Name Invoice Date  Payrate  Hours   Cost  \
0      Greg Klinger      7-16-16     40.0   1.00   40.0
1      Greg Klinger      7-16-16     40.0   1.00   40.0
2      Greg Klinger      7-16-16     40.0   1.00   40.0
3      Greg Klinger      7-16-16     40.0   0.50   20.0
4      Greg Klinger       8-1-16     40.0   2.00   80.0
5      Greg Klinger       8-1-16     40.0   2.00   80.0
6      Greg Klinger      8-16-16     40.0   6.00  240.0
7      Greg Klinger      8-16-16     40.0   2.00   80.0
8      Greg Klinger      8-16-16     40.0   1.00   40.0
9      Greg Klinger      8-16-16     40.0   0.25   10.0
10     Greg Klinger      8-16-16     40.0   2.00   80.0
11     Greg Klinger      8-16-16     40.0   2.00   80.0
12     Greg Klinger       9-1-16     40.0   2.00   80.0
13     Greg Klinger       9-1-16     40.0   3.00  120.0
14     Greg Klinger       9-1-16     40.0   4.00  160.0
15     Greg Klinger       9-1-16     40.0   2.25   90.0
16     Greg Klinger       9-1-16     40.0   5.25  210.0
17     Greg Klinger       9-1-16     40.0   0.25   10.0
18     Greg Klinger      9-16-16     40.0   8.00  320.0
19     Greg Klinger      9-16-16     40.0   8.00  320.0
20     Greg Klinger      9-16-16     40.0   4.00  160.0
21     Greg Klinger      9-16-16     40.0   0.50   20.0
22     Greg Klinger      9-16-16     40.0   0.25   10.0
23     Greg Klinger      9-16-16     40.0   1.00   40.0
24     Greg Klinger      1-16-16     50.0   9.50  475.0
25     Greg Klinger      1-16-16     50.0   0.75   37.5
26     Greg Klinger      1-16-16     50.0  14.75  737.5
27     Greg Klinger      1-16-16     50.0   3.50  175.0
28     Greg Klinger      1-16-16     50.0   1.50   75.0
29     Greg Klinger      1-16-16     50.0   1.00   50.0
...             ...          ...      ...    ...    ...
4115  Diane Tarbuck      6-16-16     28.0   0.50   14.0
4116  Diane Tarbuck      6-16-16     28.0   2.00   56.0
4117  Diane Tarbuck      6-16-16     28.0   0.50   14.0
4118  Diane Tarbuck      6-16-16     28.0   1.00   28.0
4119  Diane Tarbuck      6-16-16     28.0   1.00   28.0
4120  Diane Tarbuck      6-16-16     28.0   1.75   49.0
4121  Diane Tarbuck      6-16-16     28.0   1.00   28.0
4122  Diane Tarbuck      6-16-16     28.0   0.50   14.0
4123  Diane Tarbuck       7-1-16     28.0   0.50   14.0
4124  Diane Tarbuck       7-1-16     28.0   0.75   21.0
4125  Diane Tarbuck       7-1-16     28.0   0.50   14.0
4126  Diane Tarbuck       7-1-16     28.0   0.75   21.0
4127  Diane Tarbuck       7-1-16     28.0   1.00   28.0
4128  Diane Tarbuck       7-1-16     28.0   1.25   35.0
4129  Diane Tarbuck       7-1-16     28.0   1.25   35.0
4130  Diane Tarbuck       7-1-16     28.0   0.75   21.0
4131  Diane Tarbuck       7-1-16     28.0   1.00   28.0
4132  Diane Tarbuck       7-1-16     28.0   1.00   28.0
4133  Diane Tarbuck       7-1-16     28.0   1.25   35.0
4134  Diane Tarbuck      8-16-16     28.0   0.50   14.0
4135  Diane Tarbuck      8-16-16     28.0   0.25    7.0
4136  Diane Tarbuck      8-16-16     28.0   1.00   28.0
4137  Diane Tarbuck      8-16-16     28.0   1.00   28.0
4138  Diane Tarbuck      8-16-16     28.0   0.25    7.0
4139  Diane Tarbuck      8-16-16     28.0   1.00   28.0
4140  Diane Tarbuck      8-16-16     28.0   1.00   28.0
4141  Diane Tarbuck      8-16-16     28.0   0.75   21.0
4142  Diane Tarbuck      8-16-16     28.0   0.25    7.0
4143  Diane Tarbuck      8-16-16     28.0   0.75   21.0
4144  Diane Tarbuck      8-16-16     28.0   0.75   21.0

                    Activity  \
0               item writing
1               item writing
2               item writing
3               item writing
4               item writing
5               item writing
6               item writing
7               item writing
8               item writing
9               item writing
10              Item Writing
11              Item Writing
12              item writing
13              item writing
14              item writing
15              item writing
16              Item Writing
17              Item Writing
18              item writing
19              item writing
20              item writing
21              item writing
22              Item Writing
23              Item Writing
24              item writing
25              item writing
26              item writing
27              item writing
28              item writing
29              item writing
...                      ...
4115        Editorial Review
4116        Editorial Review
4117        Editorial Review
4118        Editorial Review
4119        Editorial Review
4120        Editorial Review
4121        Editorial Review
4122        Editorial Review
4123           Miscellaneous
4124        Editorial Review
4125        Editorial Review
4126        Editorial Review
4127        Editorial Review
4128  Item Review - Existing
4129  Item Review - Existing
4130  Item Review - Existing
4131  Item Review - Existing
4132  Item Review - Existing
4133        Editorial Review
4134           Miscellaneous
4135        Editorial Review
4136        Editorial Review
4137        Editorial Review
4138        Editorial Review
4139           Private Label
4140           Private Label
4141           Private Label
4142           Private Label
4143           Private Label
4144           Private Label

                                            Description
0                           Soc_NC_Gr6_WorldHistory_036
1                   SS_CA-Spr2015_WorldHistory_Version2
2                          Math_CCSS_Spr2015_RW_Gr03-13
3                                         Soc_TX_28_gr8
4                          Math_CCSS_Spr2015_RW_Gr03-13
5                           ELA_02334_Race of the Trees
6                   Math Playlist Clean up (Blake Helm)
7                          Math_CCSS_Spr2015_RW_Gr03-13
8                         Math_CCSS_Content.HSA-CED.A.2
9                              Soc_NC-Gr6_World History
10                          ELA_02334_Race of the Trees
11               SocStudies_Summit_Batch6_AncientGreece
12                             SocStudies_Summit_Batch3
13               SocStudies_Summit_Batch7_AncientGreece
14                            SocStudies_Summit_Batch12
15                             SocStudies_Summit_Batch4
16                        SS-CA-SPR2015-02_WorldHistory
17               SocStudies_Summit_Batch6_AncientGreece
18                     Math_CCSS_Spr2016_TEI_Algebra_13
19                         Math_CCSS_Spr2016_TEI_Gr4_01
20                            SocStudies_Summit_Batch12
21                           SS-CA-SPR2015-30_USHistory
22                        SS-CA-SPR2015-02_WorldHistory
23                    Sprint_2:Math_CR_Boost_SPR2016_10
24                                          SCI-NGSS-25
25                          MathFall_2015_TEI_Push_1-28
26                              Math_CR_Boost_SP2016_10
27                         SSCA_Spr2015_04_WorldHistory
28                                MathFall_2015_Push_16
29                       Atoms_Has Art_Spanish INTERNAL
...                                                 ...
4115                    Biathlon: MATH-TX-32 Algebra II
4116                      Biathlon: MATH-TX-36 Geometry
4117                   Math-CCSS-Spr2015-RW-Grade 03-13
4118                 Math-CCSS-Spr2016_Algebra2_Gaps_02
4119                       Math-CCSS-Spr2016-TEI-Gr6_05
4120                       Math-CCSS-Spr2016-TEI-Gr7_07
4121                SCI-VA-SPR2015-ESS-18 Earth Science
4122                          SOC-TX-28 Grade 6 Culture
4123                                              Admin
4124  02334 Gr 2 Fiction Fantasy - The Race of the T...
4125          02343 Gr 2 Fiction - Johnny Crow's Garden
4126            02374 - Gr 3 Drama - Candle Competition
4127        02378 - Gr 12 Fiction - The Man with a Nose
4128  Biathlon: 02364 - Gr 12 Nonfiction Letter - Le...
4129  Biathlon: 02380 - Gr 12 Nonfiction Letter - At...
4130              Biathlon: SOC-TX-03 Grade 6 Geography
4131                        Biathlon: SOC-TX-31 Grade 7
4132              Biathlon: SS-CA-SPR2015-29 US History
4133                       SCI-NGSS-13 Physical Science
4134                                              Admin
4135         Math_Multipart_H.S._Algebra_&_Functions_02
4136                    Math_Multipart_H.S._Geometry_02
4137                  Math-CCSS-Spr2016-DOK-Algebra2_07
4138                Math-CCSS-Spr2016-TEI-HS-Algebra_15
4139      Summit Batch 13 ANCIENT INDIA: Maurya Empire;
4140  Summit Batch 14 DYNASTIC CHINA: Confucianism &...
4141  Summit Batch 2 Ancient Greece: Arts and Scienc...
4142  Summit Batch 41 Enlightenment Philosophers; Ba...
4143  Summit Batch 5 Ancient Greece: Geography & Dai...
4144  Summit Batch 6 Ancient Greece: Literature and ...

[4145 rows x 7 columns]

In [147]:
timesheet.groupby('Activity').sum()

                        Payrate     Hours       Cost
Activity
                          135.0     3.000     135.00
Alignment - New         14736.0  1815.250   69485.75
Alignment - Review       1141.0   295.250   11105.75
Documentation            2691.0  1182.000   45092.50
Editorial Data Entry     1050.0   846.000   27463.75
Editorial Review         8512.0   580.250   18704.50
File Building             595.0   117.500    4112.50
Item Orders               409.0    40.500    2055.25
Item Review - Existing   2620.0   183.750    7478.00
Item Review - Internal  11632.0   923.250   48495.00
Item Writing            71478.0  7057.250  306330.00
Item writing               35.0     2.250      78.75
Miscellaneous           20148.0  3060.000  121800.50
Private Label            8461.0  1781.500   93655.50
Sample Selection          320.0    19.250     957.50
Spanish                  7949.0  5109.503  174844.12
Tagging - New            4699.0   572.250   20992.75
Tagging - Review         5754.0   592.750   25567.50
documentation              50.0     5.500     137.50
item writing             4350.0   414.000   19562.50

In [148]:
timesheet.groupby('Description').sum()

                                                    Payrate  Hours     Cost
Description
                                                      225.0  32.00  1337.50
 Art for Math-CCSS-Spr2016-TEI-Gr8-10                  25.0   0.50    12.50
 Art for Pre-Delivery Image QC Board                   25.0   8.00   200.00
 Art for SCI-NC-40 Earth Science                       25.0   1.00    25.00
 Art for SCI-NC-42                                     25.0   0.25     6.25
 Art for Sci-NGSS-29-Physical Science                  25.0   0.25     6.25
 ELA, Science & Math reviews                           32.0  95.00  3040.00
 ELA, Science & Math reviews, new translations         32.0  93.00  2976.00
 ELA, Science,& Math reviews                           32.0  91.00  2912.00
 Spring Math Mulitipart Tagging Units____ Ad Mo...     35.0   1.25    43.75
 Strand and Substrand Missing Tags                     35.0   0.50    17.50
 Training (Reviewing Reading Standards, Consult...     50.0   9.00   450.00
 Trello Board Tracking Files                           36.0   2.25    81.00
 aligning strays                                       55.0   0.75    41.25
"SCIP Science item Global Changes Sheet" Draft         55.0   1.25    68.75
00484.AR1                                             100.0  23.00   575.00
00494 PD source research                               80.0   4.25   170.00
006733.AR1                                             50.0   6.75   168.75
006733.AR2                                             50.0   8.25   206.25
006733.AR3                                             50.0   7.50   187.50
006735.AR1                                             50.0   6.75   168.75
006735.AR2                                             50.0   6.50   162.50
006735.AR3                                             75.0   8.50   212.50
0067378.AR3                                            25.0   3.00    75.00
006738.AR1                                             75.0  10.50   262.50
006738.AR2                                            100.0  15.00   375.00
006738.AR3                                             50.0   6.00   150.00
02061.AR1                                              75.0  14.50   362.50
02295 Gr 10 Lit Nonfiction Satire - Four Horses...     28.0   2.00    56.00
02295 Gr 10 nonfiction satire Four Horse and a ...     30.0   1.50    45.00
...                                                     ...    ...      ...
sr review response gr12 02317 The Enchanted Blu...     75.0   2.00   150.00
sr review response gr9 02296 Neutrality Proclam...     75.0   0.50    37.50
sr. review notes & revisions, new items for gr1...     75.0   4.00   300.00
style edit reviews & queries gr3 expository DOK...     75.0   4.00   300.00
style guide                                            75.0   5.00   375.00
style guides                                           75.0   7.00   525.00
summit batches                                         27.0   1.00    27.00
supervisory, admin, misc queries                       75.0   4.00   300.00
supervisory, admin, misc queries, meeting (Sara...     75.0   4.00   300.00
supervisory, admin, misc queries, meeting, other       75.0   4.00   300.00
supervisory, admin, misc queries, other                75.0   3.00   225.00
supervisory, admin, other                             150.0  13.00   975.00
supervisory, admin, queries, etc.                      75.0   5.00   375.00
supervisory, admin, queries, other                     75.0   7.00   525.00
template testing                                       75.0   2.00   150.00
template testing for Obie                              75.0   1.00    75.00
training                                               28.0   8.00   224.00
trapezoid                                              40.0   0.25    10.00
tx 10 culture peer review edits                        45.0   2.00    90.00
tx 11 culture peer review edits                        45.0   1.00    45.00
tx 20 culture peer review edits                        45.0   1.00    45.00
update old rationales                                 320.0  17.00   680.00
update rationales for gr11 02385 The Boy               75.0   3.00   225.00
update rationales for old items                        40.0   2.00    80.00
updating old rationales                               240.0  15.00   600.00
updating rationales for old items                     160.0   5.00   200.00
various in-process review/edits                       265.0  32.75  1735.75
various packets in process                             53.0   2.50   132.50
working with Steve, Lisa, Claudine on NGSS Custom      55.0   1.50    82.50
write multipart items                                  75.0  41.00  3075.00

[2750 rows x 3 columns]

Processing tasks:
    -replace words that begin with lowercase letter with uppercase letter in Activity
    -Load table of what items are associated with what items, trim table to only items created after 2015
    -determine whether line item is art, item, passage, or packet
    -classify description is useful for calculations
    -Calculate item codes
    -Calculate passage codes
    -Calculate packets